div{
	background-color: red;
	font-size: 20px !important; 
	padding: 20px;
	margin: 10px;
}

div>div{
	background-color: blue;
	color: white;
	font-size: 0.5em;
}
#div-3{
	font-size: 10em;
	background-color: yellow;
}